%a{ :href => "/#{@person.nsid}/sets" } &lt;&lt;Back to Index

%h1= @set.title
%span
  %a{ :href => @set.url, :target => "__set-#{@set.id}" } view on flickr

%p{ :class => 'description' }= @set.description
#photo-list
  - @set.photos.each do |photo|
    .photo-region
      %a{ :href => '#', :onclick => "toogleCheckBox($('#select_#{photo.id}'));", :class => 'photo-link' }
        %img{ :class => 'photo', :id => "photo_#{photo.id}", :src => photo.url(:square150), :title => photo.title, :width => 150, :height => 150 }

      .controls
        %input{ :type => 'checkbox', :name => 'photo', :id => "select_#{photo.id}", :value => photo.id }
        %label{ :for => "select_#{photo.id}" } Select
        %a{ :href => photo.url(:lightbox), :target => "__page-#{photo.id}" } view on flickr
